.p-hooks {
    padding: 40px;
}

.p-hooks button {
    padding: 7px 22px;
    border-radius: 4px;
    background-color: #3F51B5;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
}