.section-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.post {
    display: flex;
    border: 1px solid rgba(0,0,0,0.3);
    width: 500px;
    padding: 10px;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.img-thumb {
    width: 200px;
    height: 150px;
    margin-right: 20px;
}

.img-thumb img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.content {
    flex: 1
}

.content p.title {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #3d4a6e;
    margin-bottom: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.content p.desc {
    margin: 0px;
    font-size: 16px;
    color: #4a4a4a;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn-remove {
    margin-top: 5px;
    padding: 5px 18px;
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn-update {
    margin: 5px 5px 0px 0px;
    padding: 5px 18px;
    background-color: #30a14e;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.form-add-post {
    box-shadow: 0px  0px 16px rgba(0, 0, 0, 0.5);
    width: 500px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
}
.justify-center {
    display: flex;
    justify-content: center;
}


.form-add-post label {
    display: block;
    font-size: 14px;
    color: #607d8b;
    font-weight: bold;
    margin-bottom: 10px;
}


.form-add-post input, .form-add-post textarea {
    outline: none;
    border: 1px solid #607d8b;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: #607d8b;
}


button.btn-submit {
    outline: none;
    border: 1px solid #30a14e;
    padding: 5px 18px;
    border-radius: 4px;
    color: #30a14e;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

button.btn-submit:active {
    background-color: #30a14e;
    color: white;
}

.flex {
    margin: 45px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 600px);
    gap: 5px;
}